export("label<-")
export("rp.label<-")
export(adj.rle)
export(alike.integer)
export(capitalise)
export(catn)
export(fml)
export(htest)
export(htest.short)
export(is.boolean)
export(is.empty)
export(is.number)
export(is.string)
export(is.tabular)
export(is.variable)
export(kurtosis)
export(label)
export(lambda.test)
export(messagef)
export(name)
export(pct)
export(rp.desc)
export(rp.freq)
export(rp.iqr)
export(rp.kurtosis)
export(rp.label)
export(rp.max)
export(rp.mean)
export(rp.median)
export(rp.min)
export(rp.missing)
export(rp.name)
export(rp.outlier)
export(rp.percent)
export(rp.range)
export(rp.sd)
export(rp.se.mean)
export(rp.skewness)
export(rp.sum)
export(rp.univar)
export(rp.valid)
export(rp.var)
export(skewness)
export(stopf)
export(tocamel)
export(trim.space)
export(vgsub)
export(warningf)
importFrom(plyr,each)
importFrom(plyr,is.formula)
